body {
  font-size: 18px;
  margin: 0 auto;
}
a:visited {
  color: inherit;
}
:hover {
  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}
.topnav{
  background: #F64C72;
  padding: 20px;
  font-family: "Impact";
  padding: 6px;
}
.topnav a {
  font-size: 18px;
  color: pink;
  padding: 6px;
}
.active:hover {
  background-color: black;
  color: white;
}
.topnav img {
  max-width: 120px;
  padding-right: 2em;
}
#login {
  float: right;
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font: 400 11px system-ui;
  margin-top: -20px;
  margin-right: 20px;
}
#back {
  padding-bottom: 20px;
}
.login img{
padding: 40px;
}
.left, .right{
  width: 50%;
  display: inline-flex;
  padding-right: 60px;
}
.left img {
  max-width: 100%;
}
.right {
  padding-left: 100px;
}
.main {
  /* width: 600px; */
  background-size:cover;
  background: url(https://www.destinationitalia.com/wp-content/uploads/2017/05/eccellenza-piemonte-moleantonelliana-1920x700.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: auto;
}
.title {
  display: flex;
}
audio {
  margin-top: 15px;
}
#news-photo {
  width: 100%;
}
.sidebar {
  float: right;
  width: 300px;
  position: absolute;
  top: 200px;
  right: 80px;
}
 .media {
/*   padding-right: 100px;
   max-width: 600px;*/
}
.intro {
  color: white !important; 
  width: 600px;
  padding: 60px 60px;
}
.embedly-card{
  float:left;
  width:40%;
  height:20%;
}
.border {
  text-align: center;
}
/*  */
/*  */
/*  */
.container {
  display: block;
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
  margin-bottom: 12px;
}
.music-container {
  max-width: 1200px;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.form {
  font-size:22px;
  font-family: Imapct;
}
.about {
  display: inline-block;
  width: 60%;
  padding: 30px;
  vertical-align: top;
}
.article {
  padding: 40px;
}
.article:hover {
  background: rgba(246, 76, 114, 0.25);
  cursor: pointer;
}
* {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#login-logo {
  width: 30% !important;
}

.meteo{
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 30px;
  background: #f5f6f7;
}
.meteo img {
  width:10%;
  height:30%;
}
.weather {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}
.weather h3 {
  text-align: center;
  margin-top: 150px;
  margin-left: 100px;
  float:right;
  margin-right: 100px;
  margin-bottom: 25px;
  padding: 30px 30px;
  border-bottom: 3px solid #e4e4e4;
  background: #F1F1F1;
}

.day{
background: #F1F1F1;
position: relative;
border-bottom: 3px solid #e4e4e4;
margin: 1rem 0 2rem;
padding: 0.5rem 0 0;
cursor: pointer;
}
.box{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
login-form label {
  width: 100% !important;
}
.col-25 {
float: left;
width: 25%;
margin-top: 6px;
}

.col-75 {
float: left;
width: 75%;
margin-top: 6px;
}

.row:after {
content: "";
display: table;
clear: both;
}
.article img{
  max-width: 100%;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}
img{
  max-width: 90vw;
}

ol {
  max-width: 90vw;
}
audio {
  max-width: 70vw;
}
.button {
   float:right;
}
.right {
  padding: 0 !important;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.left, .right {
  width: 100%;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #F64C72;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #5A635A;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
}
.intro{
  max-width: 100vw;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body .login {
  background: #572DBF; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.podcast-border {
border-style:solid;
color: #99738E;
background: #99738E;
border-width: 8px;
border-bottom:12px;
font-size:25px;
color: black;
border-color: #99738E
}
.podcast-border:active {
  background-color: black;
}

#podcast li {
  float:left;
  font-size: 24px;
}

#podcast ul{
  float:right
}

#podcast h3{
   float:right;
}

/* Responsive */
@media (min-width: 481px) and (max-width: 767px) {
  .sidebar {
    position: relative;
  }
}
}